/* Define font families */
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.header-section {
  background-color: #2D373D;
}

.text-hotpink {
  color: #EF2857;
}

.border-hotpink {
  border-color: #EF2857;
}

.header-items a:hover {
  color: #EF2857;
}

.header-items i:hover {
  color: #EF2857;
}

.header-items a {
  color: #FFFFFF;
}
